.navbar-toggle {
    margin: 23px 23px 23px 0px;
}

.navbar-nav, .navbar-nav li, .navbar-nav li a {
    height: relative;
    line-height: 50px;
}


.navbar-nav li a {
    padding-top: 0;
    padding-bottom:0;

}

.vertical-center {
    display: flex;
    align-items: center;
    margin: 0 auto;
}


@media (max-width: 767px) {


    .navbar-brand {
        padding: 0;
    }

    .navbar-brand img {

        padding: 9px 10px;
        margin-top: 23px;
    }
}
