<template name="layout">

      <div id="wrap">
        {{> header}}
        <main id="main-container" class="container col-md-12 col-sm-12 col-xs-12">
        {{> yield}}
        </main>
      </div>
      <div class="notifications top-right"></div>
      <div class="notifications center"></div>

      {{>footer}}
</template>

<template name="layoutFlowRouter">
    <div id="wrap">
        {{> header}}
        {{#if hasReactComponent}}
            <div class="page-main">
                {{> React component=reactComponent }}
            </div>
        {{else}}
            <div class="page-main">
                <main id="main-container" class="container col-md-12 col-sm-12 col-xs-12">
                    {{> sAlert}}
                    {{> Template.dynamic template=maintp}}
                </main>
            </div>
        {{/if}}
    </div>
    <div class="notifications top-right"></div>
    <div class="notifications center"></div>

    {{>footer}}
</template>